<div class="hide-{{this.breakpoint}}">
  {{yield}}
</div>

<div class="hide show-{{this.breakpoint}}">
  {{#paper-card as |card|}}
    {{#card.content}}
      {{yield}}
    {{/card.content}}
  {{/paper-card}}
</div>