{{#paper-form onSubmit=(action "submitChanges") preventDefault=true as |form|}}
  <div class="layout-column">
    <h1>Simply login with your email</h1>
    {{form.input
      label="Email"
      value=this.user.email
      errors=this.errors
      isTouched=true
      class='layout-fill flex-50'
      onChange=(action (mut this.user.email))
      }}
  </div>
  {{#form.submit-button
    raised=false
    primary=true
    onClick=(action "clearErrors")}}Sign in{{/form.submit-button}}
  <p>Favs uses magic links instead of passwords.</p>
{{/paper-form}}
