{{#paper-toolbar class="flex-none md-whiteframe-1dp" as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle as |toggleAction|}}
      {{#paper-button onClick=(action toggleAction) iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>
      {{this.pageTitle}}
    </h2>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#paper-button onClick=(action "logout")}}Log out{{/paper-button}}
    {{else}}
      {{#paper-button onClick=(action "login") raised=true primary=false}}Log in{{/paper-button}}
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
