{{#paper-sidenav-container}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    lockedOpen=false
    open=isSidenavOpen
    onToggle=(action (mut isSidenavOpen))}}

    {{#paper-content}}
      {{#paper-list}}
        ...
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    <PageToolbar @pageTitle="Lorem" />

    {{#paper-content scroll-y=false class="layout-padding flex"}}
      <div class="content">
        {{outlet}}
      </div>
    {{/paper-content}}
  </div>
{{/paper-sidenav-container}}
