<div id="main" class="flex layout-column" tabindex="-1" role="main">
  {{#paper-content scroll-y=false class="layout-padding flex"}}
    <CardOnLargeScreens @breakpoint="gt-xs">
      <LoginForm
        @isTokenRequested={{this.tokenRequested}}
        @email={{this.model}}
        @errors={{this.errors}}
        @onSubmit={{action "requestToken"}}
        />
    </CardOnLargeScreens>
  {{/paper-content}}
</div>
